<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-ayuda">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <h1>Ayuda</h1>
    <div class="card">
            <div class="color1 col-xs-12 col-sm-6 col-md-3">
                <h4 class="visible-lg">Menú Login</h4>
                <p>Si ya eres clientes puedes empezar a utilizar la aplicación registrándote <br></p>
                <p>Si aún no eres cliente favor de acudir a una de nuestras sucursales <br></p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h4 class="visible-lg">Despliega Cuentas</h4>
                <p>Podrás desplegar las cuentas que tienes dadas de alta de acuerdo al producto</p>
            </div>
            <div class="color1 col-xs-12 col-sm-6 col-md-3">
                <h4 class="visible-lg">Movimientos</h4>
                <p>Podrás visualizar los movimientos de las cuentas</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h4 class="visible-lg">Visualización de movimientos</h4>
                <p>Podras ubicar geográficamente los movimientos realizados</p>
            </div>
    </div>
  </template>

  <script>
    class MyAyuda extends Polymer.Element {
      static get is() { return 'my-ayuda'; }
    }

    window.customElements.define(MyAyuda.is, MyAyuda);
  </script>
</dom-module>
