
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<!--REFERENCIAS DEL PROYECTO -->
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/d2l-button/d2l-button.html">

<dom-module id="my-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <iron-ajax id="validaLogin"
            url="http://localhost:3000/v1/usuario/login"
            method="POST"
            on-response="mostrarLogin">
    </iron-ajax>

    <div class="card">
      <div class="field">
        <h3>Bienvenid@</h3>
      </div>
      <div class="field">
        <paper-input auto-validate pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                     title="Se necesita username" required label=[[etuser]] type="email" value={{vlemail::input}}
                     always-float-label placeholder="example@dominio.com"
        ></paper-input>
      </div>
      <div class="">
        <paper-input title="Se necesita password"required="required" label=[[etpassword]] type="password" value={{vlpassword::input}}
        ></paper-input>
      </div>
      <div class="field">
        <label>Olvidaste tu password </label>
        <a name="registro" href="[[rootPath]]registro">Click aqui</a>
      </div>
      <div class="field">
        <br>
        <d2l-button primary on-click="hacerLogin"><font size="4">[[etlogin]]</font></d2l-button>
      </div>
      <div class="field">
        <br>
        <label>¿No estas registrado? </label><a name="registro" href="[[rootPath]]registro">Registrate!!</a>
      </div>
    </div>
  </template>

  <script>
    class MyLogin extends Polymer.Element {
      static get is() { return 'my-login'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          vlemail: {
            type: String
          },
          vlpassword: {
            type: String
          },
          vldetalle: {
            type: Object
          },
          myResponseU: {
            type: Object
          }
        }
      }
      hacerLogin(){
        this.$.validaLogin.headers.email=this.vlemail
        this.$.validaLogin.headers.password=this.vlpassword
        this.vlemail = ""
        this.vlpassword = ""
        this.$.validaLogin.generateRequest();
        this.vldetalle=JSON.parse('{"detail":{"estatus":false}}')
        this.dispatchEvent(new CustomEvent('logeado',  this.vldetalle))
      }
      mostrarLogin(data){
        this.myResponseU = data.detail.response
        if (this.myResponseU.logged) {
          this.vldetalle=JSON.parse('{"detail":{"logged":"'+this.myResponseU.logged+'","idcliente":'+this.myResponseU.idcliente+',"idusuario":"'+this.myResponseU.idusuario+'","nombre":"'+this.myResponseU.nombre+'"}}')
          this.dispatchEvent(new CustomEvent('logeado', this.vldetalle))
        }
      }
    }
    window.customElements.define(MyLogin.is, MyLogin);
  </script>
</dom-module>
